* {
  box-sizing: border-box;
}

.app {
  max-width: 1400px;
  min-height: 900px;
  margin: 20px auto;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.appHeader h1 {
  font-size: 24px;
  margin: 0;
  text-shadow: 0 2px 4px #1b1b1f ;
}

.appMain .tokensList, .appMain .dashboard {
  border-radius: 10px;
  background-color: rgba(40, 40, 45, 0.4);
  margin-bottom: 40px;
  width: 100%;
}

.appMain .top, .appMain .bottom {
  margin-bottom: 40px;
  justify-content: space-between;
  display: flex;
}

.explainer {
  max-width: 600px;
  color: #c9c9cb;
  font-size: 26px;
  margin-right: 40px;
  text-shadow: 0 2px 4px #1b1b1f;
}

.explainer ol {
  margin: 0;
  padding: 0;
}
