.dashboard .header {
  padding: 20px;
  font-size: 24px;
  width: 100%;
  background: #24242a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dashboard .content {
  margin-bottom: 60px;
  display: flex;
  width: 100%;
  padding: 20px;
}

.dashboard .item {
  flex-grow: 1;
}

.dashboard .itemHeader {
  margin-bottom: 20px;
  font-size: 14px;
}

.dashboard .itemContent .balance {
  font-size: 32px;
  margin-right: 5px;
}

.dashboard .itemContent .symbol {
  text-transform: uppercase;
  font-size: 14px;
}

.dashboard .rewardsPot, .dashboard .myRewards {
  margin-bottom: 20px;
}

.dashboard .item button {
  appearance: none;
  background-color: transparent;
  border-color: #50acc9;
  border-radius: 4px;
  color: #50acc9;
  cursor: pointer;
  font-size: 14px;
  min-width: 80px;
  padding: 8px;
  transition: 0.15s ease;
}

.dashboard .item button:hover {
  color: #65daff;
  background: #315669;
}

.dashboard .item button:disabled {
  color: #ffffff;
  background: #696969;
  border-color: #c7c7c7;
  cursor: progress;
}
