.tokenBalances {
  width: 100%;
  border: none;
  border-collapse: collapse;
  table-layout: fixed;
}

table thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
}

.tokenBalances th {
  font-weight: normal;
  font-size: 14px;
  background-color: #25252a;
  height: 48px;
}

.tokenBalances th:first-child {
  border-top-left-radius: 10px;
}

.tokenBalances th:last-child {
  border-top-right-radius: 10px;
}

.tokensList {
  overflow-y: scroll;
}

.tokensList td:first-child {
  padding-left: 10px;
}

.tokensList td:last-child {
  padding-right: 10px;
}

.tokenBalances td {
  padding: 10px 0;
}

.tokenBalances tr:hover td {
  background: #3b3b3f;
}

.tokenDetails {
  text-align: left;
}

.tokenSymbol {
  font-size: 18px;
}

.tokenName {
  font-size: 14px;
}

.tokenIcon {
  width: 80px;
}

.tokenIcon img {
  width: 48px;
  height: auto;
}

.compostInput {
  text-align: right;
}

.compostInput div {
  text-transform: uppercase;
  font-size: 12px;
  margin: 4px;
}

.compostInput input {
  background: transparent;
  border-radius: 4px;
  border: 1px #8b8b8b solid;
  color: #777777;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  text-align: right;
  width: 100%;
  max-width: 180px;
}

.compostingValue, .compostedValue {
  text-align: right;
  font-size: 24px;
}

.tokenHeading {
  text-align: left;
}

.compostValueHeading {
  text-align: right;
}

.compostingValueHeading {
  text-align: right;
}

.compostedValueHeading {
  text-align: right;
}

.tokenActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 87px;
}

.tokenActions .sendButton {
  cursor: pointer;
  margin-top: 15px;
  width: 32px;
  height: 32px;
  background: url('../icons/arrow.png');
}

.tokenActions .sendButton:hover {
  background: url('../icons/arrowHover.png');
}

.tokenActions .sendButton.disabled {
  cursor: progress;
}
